
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 120vh;
        background-color: #f9f9f9;
        font-family: 'Noto Sans KR', sans-serif;
      }

      .item1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        

        height: 5%;
        width: 100%;
      }
      .item2 {
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        height: 95%;
        width: 100%;
      }

      .item1-1, .item2-1 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      .item1-2, .item2-2 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      .item1-3, .item2-3 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-4, .item2-4 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-5, .item2-5  {
        width: 20%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-6, .item2-6 {
        width: 15%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-7, .item2-7 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-8, .item2-8 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item2-8 a{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


      .item1-9, .item2-9 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item2-9 a{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; right: 4px
      }
      .item1-10, .item2-10 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item2-10 a {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item1-11, .item2-11 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item2-11 a {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* 모달 스타일링 */
      .modal {
        display: none; /* 기본적으로 모달은 숨김 처리 */
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(153, 133, 133, 0.719);
        background-color: rgba(236, 177, 13, 0.5);
        }

      .modal-content {
        margin: 10% auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #000;
        max-width: 600px;
        }

      .modal-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        }

      .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        }

      .modal-body {
        padding-bottom: 56.25%; /* 16:9 비율의 iframe을 위한 패딩 설정 */
        position: relative;
        }

      .modal-body iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        }
