doctype html
html
  head
    title Melon List
    style.
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 150vh;
        background-color: #f9f9f9;
      }

      .item1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        height: 5%;
        width: 100%;
      }
      .item2 {
        border: 1px solid black;
        height: 95%;
        width: 100%;
      }

      .item1-1, .item2-1 {
        width: 5%;
      }
      .item1-2, .item2-2 {
        width: 5%;
      }
      .item1-3, .item2-3 {
        width: 5%;
      }
      .item1-4, .item2-4 {
        width: 5%;
      }
      .item1-5, .item2-5 {
        width: 25%;
      }
      .item1-6, .item2-6 {
        width: 20%;
      }
      .item1-7, .item2-7 {
        width: 5%;
      }
      .item1-8, .item2-8 {
        width: 10%;
      }
      .item1-9, .item2-9 {
        width: 5%;
      }
      .item1-10, .item2-10 {
        width: 5%;
      }
      .item1-11, .item2-11 {
        width: 5%;
      }
      .item1-12, .item2-12 {
        width: 5%;
      }
      
    

  body
    h1 My Song
    // 게시글 목록 표시 부분
    div.container
      div.item1
        span.item1-1 ㅁ
        span.item1-2 순위
        span.item1-3 -
        span.item1-4 이미지
        span.item1-5 곡정보
        span.item1-6 앨범
        span.item1-7 하트
        span.item1-8 좋아요
        span.item1-9 듣기
        span.item1-10 담기
        span.item1-11 다운
        span.item1-12 뮤비
      each post in posts
        div.item2
          span.item2-1 ㅁ
          span.item2-2 순위
          span.item2-3 2
          span.item2-4 2
          span.item2-5 2
          span.item2-6 2
          span.item2-7 2
          span.item2-8 2
          span.item2-9 2
          span.item2-10 2
          span.item2-11 2
          span.item2-12 2
      
          
        
          
        
        
        


        //- script(src="script.js")


    //- // 게시글 내용 표시 부분
    //- if currentPost
    //-   h2= currentPost.title
    //-   p= currentPost.content
    //- else
    //-   p Please select a post to view.

    //- // 게시글 작성 링크
    //- a(href="/posts/new") Write a post
